h1{
    text-align: center;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}

.calc-container{
  margin: auto;
  margin-top: 3em;
  width: 75%;
  padding: 10px;
  /* margin-bottom: 10em; */
  border: 1px solid #f2f2f2;
  -webkit-box-shadow: 1px 1px 4px 0px rgba(176,176,176,1);
  -moz-box-shadow: 1px 1px 4px 0px rgba(176,176,176,1);
  box-shadow: 1px 1px 4px 0px rgba(176,176,176,1);
  background-color: #fff;
  /* height: 450px; */
  background-color: #F8F8F8;
}

.calc-header{
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
    
  background-color: #81C784;
  padding: 10px;
  color: #fff;
  text-align: center;
  min-height: 3em;
  width: 50%;
  }
    /* justify-content: center; */

.warning {
  width: 35%;
}



.result {
    font-size: 24px;
    padding: 24px 5px;
    font-weight: 700;
    text-align: right;
    width: 96%;
    border: none;
    background-color: #F8F8F8;
  }

  .first-row,
  .second-row,
  .third-row,
  .fourth-row,
  .conflict
  {
    display: flex;
    justify-content: center;
  }

  input[type=button] {
    /* background-color: #81C784; */
    width: 3em;
    justify-content: center;
    margin-left: .1em;
    margin-right: .1em;

  }

  input[type=text] {
    width: 85%;
  }