.app-form {
    display: flex;
    flex-direction: column;
    /* background-color: black; */
    align-items: center;
    justify-content: center;
}

.contact-form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10em;
    padding-top: 2em;
    /* margin-bottom: 2em; */
    border: 1px solid lightgrey;
    width: 50%;    
    -webkit-box-shadow: 0px 0px 0px 1px black;
    -moz-box-shadow: 0px 0px 0px 1px #000;
    box-shadow: 0px 0px 0px 1px #000;
    background-color: white;
}
.input {
    width: 100%;
}

.input-msg {
    height: 15vh;
    width: 100%;
    max-height: 30vh;
}

.input-btn {
    width: 22%;
}



button {
    margin-bottom: 2em;
}

label {
    font-weight: 700;
}