.wrapper {
    margin: 4em 3em;
    padding: 2em 0em;
    /* margin-top: 4em; */
    /* margin-left: 2em; */
    /* margin-right: 2em; */
    border: 0.22em solid black;
    border-radius: 33px;
    background-color: rgb(220, 220, 220);

}