.footer {
    background-color: rgb(244, 242, 242);
    /* position: fixed; */
   left: 0;
   bottom: 0;
   width: 100%;
   /* background-color: red; */
   /* color: white; */
   text-align: center;
   border-top: 2px solid gray;
   border-bottom: 2px solid gray;
}