.img-thumbnail {
    width: 40%;
    margin-bottom: 1.5em;
  }
  
  .aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
  }



  @media only screen and (max-width: 600px) {
    .img-thumbnail {
        width: 50%;
      }
  }