img {
	max-width: 100%;
}
h2 {
	font-size: 1.7rem;
}

@media only screen and (max-width: 640px) {
	body {
		font-size: 0.8em;
		background-color: #cccccc;
	}
}

@media only screen and (min-width: 1024px) {
	body {
		font-size: 1.25em;
		background-color: #dddddd;
	}
}