.navbar {
    display: flex;
    justify-content: left;
    align-items: center;
    /* margin-left: .7em; */
    background-color: grey;
    width: 100%;
    position: static;
    max-width: fit-content;
    
}

div {
    /* display: flex; */
    justify-content: space-between;
    font-size: 1.2em;
    margin-left: .7em;
    margin-right: .35em;
    padding: .4em;
}