.footer {
    background-color: rgb(244, 242, 242);
    /* position: fixed; */
   left: 0;
   bottom: 0;
   width: 100%;
   /* background-color: red; */
   /* color: white; */
   text-align: center;
   border-top: 4px solid gray;
   border-bottom: 4px solid gray;
   margin-top: 12em;
   padding: 1em 2em;
}

.socials {
    display: flex;
    justify-content: center;
}

.social-btn {
    margin: 2em .3em .4em .3em;
    
}

.grow { 
    transition: all .2s ease-in-out; 
    }
    
    .grow:hover { 
    transform: scale(1.15); 
    }

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}