.footer {
    background-color: rgb(244, 242, 242);
    /* position: fixed; */
   left: 0;
   bottom: 0;
   width: 100%;
   /* background-color: red; */
   /* color: white; */
   text-align: center;
   border-top: 4px solid gray;
   border-bottom: 4px solid gray;
   margin-top: 10em;
   padding: 1em 2em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}